<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AEROSAKA</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<footer class="bg-blue-800 text-gray-300 mt-auto">
    <div class="container mx-auto px-4 py-8">
      <hr class="border-white mb-6">
      <div class="flex justify-between">
        <div>
          <h2 class="text-white text-lg font-semibold mb-4"><u>About Us</u></h2>
          <ul class="list-none">
            <li><a href="#" class="hover:text-white">About</a></li>
            <li><a href="#" class="hover:text-white">Careers</a></li>
            <li><a href="#" class="hover:text-white">Team</a></li>
          </ul>
        </div>
        <div>
          <h2 class="text-white text-lg font-semibold mb-4"><u>Book</u></h2>
          <ul class="list-none">
            <li><a href="#" class="hover:text-white" onclick="window.location.href='booking.html'" >Book Now</a></li>
            <li><a href="#" class="hover:text-white">Pricing</a></li>
            <li><a href="#" class="hover:text-white">Availability</a></li>
          </ul>
        </div>
        <div>
          <h2 class="text-white text-lg font-semibold mb-4"><u>Manage</u></h2>
          <ul class="list-none">
            <li><a href="#" class="hover:text-white">Manage Bookings</a></li>
            <li><a href="#" class="hover:text-white">Cancel Reservation</a></li>
            <li><a href="#" class="hover:text-white">Modify Details</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>